<!DOCTYPE html>
<html>

<head>
  <title>Sell your electronics</title>
  <link rel="stylesheet" href="../app.css" type="text/css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Spicy+Rice" rel="stylesheet"> 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>


  
<header class="w3-container w3-theme w3-padding" id="myHeader">
 
  
 
  
  <h1 class="w3-xxxlarge w3-animate-bottom w3-right">PROJECT ELECTRONIC DOT COM</h1>
  
  		

  <!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>

  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>Project<br>Electronic</b></h3>
  </div>
  <div class="w3-bar-block">

        <a href="/" class="w3-bar-item w3-button w3-hover-white">Home</a> 
    <a href="/items" class="w3-bar-item w3-button w3-hover-white">Items</a> 
    <a href="/jobs" class="w3-bar-item w3-button w3-hover-white">Jobs</a> 
    <a href="/additems" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Add your electronic for sale!</a> 
    <a href="/addjobs" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Offer a service? Advertise here!</a> 


  </div>
</nav>


		</div>

      </div>
    
 
</header>
  
    </div>


