  <% include ../partials/header %>
    <body class="w3-black">
<div class="w3-main" style="margin-left:340px;margin-right:40px">
<div class="row">
  <h1>Welcome to the add items page  <br>
  <div class="grid-container">
        
            <form accept-charset="UTF-8" action="/additems" ref="uploadForm" method="post"  enctype="multipart/form-data">    
                <div class="item">
                  <label for="name">Name</label>
                    <input name="name" type="text" placeholder="Enter name" required/>
                  
                  
                  <label for="price">Comment</label>
                    <input name="comment" type="text" placeholder="Enter comment" />
                    
                   
                   <label for="image">Email</label> 
                    <input name="email" type="text" placeholder="Enter email" />
                    
                          
                   <label for="image">Price</label> 
                    <input name="email" type="text" placeholder="Enter price" />
                    
                    
  <input class="button" type="file" name="sampleFile" />
  

                    
                    
                   
<button class="button">Add</button>
                    
                   
                    </div>
              </form>
      
         
         
    </div>
  </h1>
</div>








</body>

<% include ../partials/footer %>